<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<tab id="ML_developerTest" translate="label" sortOrder="10">
            <label>ML DeveloperTest</label>
        </tab>
        <section id="ml_block_product" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Block Product</label>
            <tab>ML_developerTest</tab>
            <resource>ML_DeveloperTest::ml_block_product</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Block Product Configurations</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="error_message" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Error Message</label>
                    <comment>Add "COUNTRY_NAME" to show country name in message.</comment>
                </field>
            </group>
            <group id="ipinfo" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>IPinfo Configurations</label>
                <field id="access_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Access Token</label>
                    <comment>You'll need an IPinfo API access token, which you can get by signing up for a free account at https://ipinfo.io/signup.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
